In [121]:
import pandas as pd

data_url="C:\\Users\\채재헌\\machine_learning\\dataset\\loan_data.csv"
loan=pd.read_csv(data_url)

In [122]:
loan.head(10)

,Text,Income,Credit_Score,Loan_Amount,DTI_Ratio,Employment_Status,Approval
0,I need a loan to pay for an international vaca...,26556,581,8314,79.26,employed,Rejected
1,I want to make home improvements like installi...,197392,389,111604,22.14,employed,Rejected
2,"I need a loan for home renovation, including a...",44561,523,34118,45.44,employed,Rejected
3,I need funds to buy new furniture and applianc...,190363,729,118757,10.22,unemployed,Rejected
4,I need a loan to start a small business.,61853,732,19210,44.13,employed,Approved
5,I need a loan to repair my car after an accident.,108236,404,50797,10.24,employed,Rejected
6,I need financial help to cover maternity and d...,110165,570,61217,7.12,employed,Approved
7,I need money to open a small bookstore and caf챕.,40656,600,21267,113.63,unemployed,Rejected
8,I need a loan to install a security system at ...,38233,346,8467,126.42,unemployed,Rejected
9,I need a loan to cover emergency expenses afte...,81024,403,19217,36.92,unemployed,Rejected

In [123]:
# 타겟 열 Employment_Status을 이진 값으로 변환
loan["Employment_Status"]=loan["Employment_Status"].map({"employed":0,"unemployed":1})

# 결과 확인
loan.head(10)

,Text,Income,Credit_Score,Loan_Amount,DTI_Ratio,Employment_Status,Approval
0,I need a loan to pay for an international vaca...,26556,581,8314,79.26,0,Rejected
1,I want to make home improvements like installi...,197392,389,111604,22.14,0,Rejected
2,"I need a loan for home renovation, including a...",44561,523,34118,45.44,0,Rejected
3,I need funds to buy new furniture and applianc...,190363,729,118757,10.22,1,Rejected
4,I need a loan to start a small business.,61853,732,19210,44.13,0,Approved
5,I need a loan to repair my car after an accident.,108236,404,50797,10.24,0,Rejected
6,I need financial help to cover maternity and d...,110165,570,61217,7.12,0,Approved
7,I need money to open a small bookstore and caf챕.,40656,600,21267,113.63,1,Rejected
8,I need a loan to install a security system at ...,38233,346,8467,126.42,1,Rejected
9,I need a loan to cover emergency expenses afte...,81024,403,19217,36.92,1,Rejected

In [124]:
loan_target=loan["Approval"]
loan_input=loan[["Income","Credit_Score","Loan_Amount","DTI_Ratio","Employment_Status"]]

In [125]:
loan_target[:5]

0    Rejected
1    Rejected
2    Rejected
3    Rejected
4    Approved
Name: Approval, dtype: object

In [126]:
type(loan_input)

pandas.core.frame.DataFrame

In [127]:
loan_target=loan_target.to_numpy()
loan_input=loan_input.to_numpy()

In [131]:
type(loan_input)

numpy.ndarray

In [132]:
type(loan_target)

numpy.ndarray

In [129]:
from sklearn.model_selection import train_test_split

In [134]:
train_input,test_input,train_target,test_target=train_test_split(loan_input,loan_target)

In [136]:
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()

ss.fit(train_input)

train_scaled=ss.transform(train_input)
test_scaled=ss.transform(test_input)

In [137]:
train_scaled[:5]

array([[ 0.17273583, -1.34787902,  0.41787351, -0.06869232, -0.99911151],
       [-0.7145193 ,  0.51052356,  0.06958621,  0.31425184,  1.00088928],
       [ 0.88465976,  1.16347582,  1.96988911, -0.89270609,  1.00088928],
       [-0.12260971,  1.21370292, -0.43248467,  0.12961805,  1.00088928],
       [-0.50083381,  0.51052356, -0.80936273, -0.88928695, -0.99911151]])